@model reserva_de_sala_dsm.Models.Usuario

@{
    ViewData["Title"] = "Editar usuário";
}

<h1>Editar usuário</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />


</form>
